<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i|Roboto:500" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <script src="https://cdn.socket.io/4.1.1/socket.io.min.js" integrity="sha384-cdrFIqe3RasCMNE0jeFG9xJHog/tgOVC1E9Lzve8LQN1g5WUHo0Kvk1mawWjxX7a" crossorigin="anonymous"></script>
</head>
<body class="is-boxed has-animations">
    <div class="body-wrap boxed-container">

        <main>
            <section class="hero text-center">
                <div class="container-sm">
                    <div class="hero-inner">
                        <h1 class="hero-title h2-mobile mt-0 is-revealing">Liste de tatoueurs</h1>

                        <div class="hero-paragraph is-revealing" id="tattooists">
                            <div class="text">  

                            <% tattooists.forEach((tattooist) => { %>
                                <br>
                                <a href="/pages/tattooist/<%= tattooist.id %>" class="tatooist"><%= tattooist.name %></a>
                            <% }); %>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

        </main>

    </div>

    <script>

    </script>

</body>
</html>